<div class="banner-container">
    <nav class="banner-navigation">
        <ul class="banner-list">
            <li class="banner-list-item"><a class="banner-list-item-link" routerLink="transaction-history">Transaction history</a></li>
            <li class="banner-list-item"><a class="banner-list-item-link" routerLink="income-history">Income history</a></li>
            <li class="banner-list-item"><a class="banner-list-item-link" routerLink="outcome-history">Outcome history</a></li>
            <li class="banner-list-item"><a class="banner-list-item-link" routerLink="add-income">Add income</a></li>
            <li class="banner-list-item"><a class="banner-list-item-link" routerLink="add-outcome">Add outcome</a></li>
        </ul>
    </nav>
</div>