<div class="banner-container">
    <nav class="banner-navigation">
        <ul class="banner-list">
            <li class="banner-list-item"><a class="banner-list-item-link" routerLink="transaction-history">Transaction history</a></li>
            <li class="banner-list-item"><a class="banner-list-item-link" routerLink="income-history">Income history</a></li>
            <li class="banner-list-item"><a class="banner-list-item-link" routerLink="outcome-history">Outcome history</a></li>
            <li class="banner-list-item"><a class="banner-list-item-link" routerLink="add-transaction">Add transaction</a></li>
            <li class="banner-list-item"><button class="banner-list-item-link logout" (click)="logout()">Logout</button><li>
        </ul>
    </nav>
</div>