.banner-container{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    background-color: #007DFF;
    color: white;
}
.banner-navigation{
    display: flex;
    width: 100%;
}
.banner-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.banner-list-item-link{
    color: white !important;
    font-weight: bold;
}
.logout{
    background-color: #007DFF;
}